@import "about.css";
@import "prices.css";
@import "contacts.css";
@import "projects.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Courier Prime', monospace;
    font-size: 18px;
    line-height: 28px;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #393939;
}

h1 {
    font-size: 2.7rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.67rem;
}

a {
    display: flex;
    text-decoration: none;
    color: #393939;
}

p {
    font-family: 'Courier New', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
}

img {
    max-width: 100%;
}

.upper-case {
    text-transform: uppercase;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}
.container-tittle {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 60px;
}

.container-tittle img{
    margin-right: 20px;
}

.container-tittle h1 {
    text-transform: uppercase;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar li {
    display: inline-block;
    padding: 10px;
    font-weight: 700;
}

.navbar a:hover {
    color: #DFD1A7;
    transition: all 0.3s ease-in-out;
}

.phone {
    display: flex;
    align-items: center;
    font-weight: 700;
    white-space: nowrap;
}

.phone img {
    margin-right: 20px;
}

.hamburger-menu {
    display: none;
}

.menu_phone {
    display: none;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 90px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.footer p, a {
    font-family: 'Courier Prime', monospace;
    font-size: 0.888rem;
    font-weight: 400;
    line-height: 1.4rem;
}

.footer-logo {
    width: 125px;
    height: 49px;
    margin-bottom: 10px;
}

.footer-phone {
    margin-top: 10px;
    white-space: nowrap;
}

.footer-phone img {
    width: 20px;
    margin-right: 20px;
}

.footer-link {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 150px;
}

.footer-link li {
    display: block;
    margin-bottom: 30px;
}

.footer-link a {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4rem;
}

.footer-link a:hover {
    color: #DFD1A7;
    transition: all 0.3s ease-in-out;
}

.social-links {
    display: flex;
    justify-content: center;
}

.twitter {
    margin-right: 20px;
    margin-left: 20px;
}

.social-links li {
    display: inline-block;
}

.social-links a:hover {
    color: #DFD1A7;
    transition: all 0.3s ease-in-out;
}


.container-carousel {
    margin: 20px 20px 60px;
}


.carousel-items, .carousel-labels {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

.carousel-item {
    display: block;
    float: left;
}

.carousel-wrapper {
    position: relative;
    padding-bottom: 39%;
    overflow: hidden;
}


.carousel-items {
    width: 400%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: left .5s ease-out;
    -o-transition: left .5s ease-out;
    -ms-transition: left .5s ease-out;
    -moz-transition: left .5s ease-out;
    -webkit-transition: left .5s ease-out;
}

.carousel-item {
    width: 25%;
    height: 100%;
    position: relative;
}

.carousel-labels {
    position: absolute;
    z-index: 2;
    left: 15%;
    bottom: 10%;
    height: 20px;
}

.img-text {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 75%;
}

.img-text h1 {
    color: #F2F2F2;
    font-size: 2rem;
    line-height: 150%;
}

.img-text p {
    color: #BBBCBC;
    line-height: 150%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.main-btn {
    font-weight: 700;
    padding: 15px 20px;
    background: #DFD1A7;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.main-btn:first-child {
    margin-right: 10px;
}

.block-btn {
    display: flex;
    position: absolute;
    left: 45%;
    bottom: 10%;
}

.carousel-selector {
    display: none;
}

.carousel-label {
    display: inline-block;
}

.carousel-label label {
    width: 36px;
    height: 10px;
    border-radius: 100px;
    background-color: #393939;
    display: block;
    cursor: pointer;
}

#slide1:checked ~ .carousel-items {
    left: 0;
}

#slide1:checked ~ .carousel-labels .carousel-label:nth-child(1) label {
    background-color: #CDA177;
}

#slide2:checked ~ .carousel-items {
    left: -100%;
}

#slide2:checked ~ .carousel-labels .carousel-label:nth-child(2) label {
    background-color: #CDA177;
}

#slide3:checked ~ .carousel-items {
    left: -200%;
}

#slide3:checked ~ .carousel-labels .carousel-label:nth-child(3) label {
    background-color: #CDA177;
}

#slide4:checked ~ .carousel-items {
    left: -300%;
}

#slide4:checked ~ .carousel-labels .carousel-label:nth-child(4) label {
    background-color: #CDA177;
}

.mobile-img {
    display: none;
}

.home-page {
    margin-bottom: 60px;
}

.home-page h2 {
    margin-bottom: 60px;
    line-height: 2.5rem;
}

.home-page-block {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.orange-text p {
    color: #CDA177;
}

.documentation-text p {
    margin-bottom: 30px;
}

.second-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.second-block-text {
    width: 536px;
}

.second-block-text h3 {
    font-size: 1.333rem;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
}

.survey-text-order p {
    margin-bottom: 30px;
}

.about-service {
    display: flex;
    justify-content: center;
}

.about-service > div {
    padding: 30px 90px;
    background: #F8F8F8;
}

.about-service .about-us {
    margin-right: 60px;
}

.about-service a {
    margin-top: 20px;
    text-decoration-line: underline;
    color: #CDA177;
}

.goals-and-objectives {
    grid-template-rows: repeat(3, 1fr);
}

.goals-and-objectives p {
    margin-bottom: 60px;
}

.construction-surveying {
    display: flex;
}

.big-tripod {
    background: url("/images/index/big-tripod.jpg") no-repeat;
    width: 524px;
}

.construction-surveying-text {
    width: 676px;
    padding: 10px 30px;
    background: #F2F2F2;
}

.construction-surveying-text p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.5rem;
}


.contact-us {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.terms-consent p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.5rem;
}

.orange-text a {
    display: inline-block;
    color: #CDA177;
    text-decoration: underline;
}

.contact-us .group {
    position: relative;
    margin-bottom: 30px;
}

.contact-us input {
    font-size: 0.888rem;
    padding: 10px;
    display: block;
    width: 90%;
    border: none;
    border-bottom: 1px solid #393939;
}

.contact-us input:focus {
    outline: none;
}

.contact-us label {
    color: #999;
    font-size: 18px;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 15px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
.contact-us input:focus ~ label,
.contact-us input:valid ~ label {
    top: -15px;
    font-size: 0.777rem;
    color: #393939;
}

@media  screen and (max-width: 767px) {
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }
    h3{
        font-size: 1.3rem;
    }
    .container {
        margin: 0 20px;
    }

    .header {
        justify-content: space-around;
        margin-top: 20px;
    }
    .container-tittle {
        flex-direction: column;
    }
    .container-tittle h1{
        line-height: 34px;
        margin-bottom: 16px;
    }



    .logo {
        width: 100px;
        height: 39px;
    }

    .navbar {
        display: none;
    }

    .phone {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .menu_phone {
        display: flex;
        align-items: center;
    }

    #menu__toggle {
        opacity: 0;
    }

    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
    }

    .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 6;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
    }

    .menu__btn > span::before {
        content: '';
        top: -8px;
    }

    .menu__btn > span::after {
        content: '';
        top: 8px;
    }

    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #e9ecef;
        box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;
        z-index: 5;
    }

    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        text-decoration: none;
        transition-duration: .25s;
    }

    .menu__item:hover {
        background-color: #CFD8DC;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .footer p {
        text-align: center;
    }

    .footer-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-link {
        order: 2;
        display: flex;
        justify-content: center;
    }

    .social-links {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .img-text {
        left: 5%;
        width: 90%;
    }

    .img-text h1 {
        font-size: 1rem;
    }

    .img-text p {
        font-size: 0.777rem;
    }

    .main-btn {
        padding: 5px 5px;
    }

    .block-btn a {
        font-size: 0.777rem;
    }

    .carousel-labels {
        left: 5%;
    }

    .home-page-block {
        display: block;
    }

    .home-page h2 {
        font-size: 1.5rem;
    }

    .home-page-block h3 {
        margin-bottom: 30px;
    }

    .orange-text p {
        margin-bottom: 60px;
    }

    .second-block {
        display: block;
    }

    .second-block img {
        margin-top: 30px;
    }

    .second-block a {
        justify-content: center;
    }

    .about-service {
        display: block;
    }

    .about-service .about-us {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .construction-surveying {
        display: block;
    }

    .construction-surveying-text {
        width: 100%;
    }

    .second-block-text {
        width: 100%;
    }

    .about-service > div {
        padding: 30px 30px;
    }

    .big-tripod {
        background-size: cover;
        width: 100%;
        height: 360px;
    }

    .contact-us {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .contact-us input {
        width: 280px;
        max-width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .img-text {
        left: 10%;
    }

    .img-text h1 {
        font-size: 1.5rem;
    }

    .main-btn {
        padding: 5px 10px;
    }

    .carousel-labels {
        left: 10%;
    }

    .phone-number{
        display: none;
    }
}

@media (max-width: 575px) {
    .big-img {
        display: none;
    }

    .mobile-img {
        display: flex;
    }

    .block-btn {
        left: 15%;
        display: inline-block;
        width: 70%;
    }

    .main-btn:first-child {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .carousel-wrapper {
        padding-bottom: 175%;
    }

    .carousel-item {
        display: flex;
        justify-content: center;
    }

    .img-text {
        top: 5%;
        left: 15%;
        width: 70%;
    }

    .carousel-labels {
        left: 15%;
        bottom: 0;
        display: flex;
        justify-content: space-evenly;
        width: 70%;
    }
}